# Modified by two-barrels in 2026 for ARI v6 modernization.
# SPDX-License-Identifier: Apache-2.0

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
bin

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

*.swp
__pycache__/
*.pyc

/vendor/*
/dist/
/ari-proxy
